@font-face {
  font-family: myFirstFont;
  src: url(/font/TT\ Norms\ Pro\ Medium.otf);
}
html {
  font-family: "myFirstFont", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}
.warming h2 {
  font-size: 0.8rem;
}
.btn1 {
  color: white;
}
.btn1:hover {
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  color: black;
}

.btn2 {
  background-color: #006ce1;
  color: white;
}
.btn2:hover {
  transition: all 0.3s ease-in-out;
  background-color: #0041c2;
}
.nav-icon {
  border: none;
  background: transparent;
}
/* sub */

.not-footer {
  width: 90%;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.icon-footer {
  width: 90%;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.gol-right {
  /* width: 200px; */
  height: 30px;
}
.gol-right a {
  font-size: large;
  color: #000;
}
.gol-right a i {
  font-size: 30px;
}
.icon-footer {
  display: flex;
}
.gol-left {
  flex-grow: 1;
}
.gol-right img {
  width: 20px;
  height: 20px;
  margin-top: -10px;
}

/* div.list */
.list {
  width: 90%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
}
/* */
.list-titel-foote {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2;
  font-family: "LGEI Text", sans-serif;
  color: #000000;
  overflow-wrap: inherit;
  cursor: pointer;
  display: inline-block;

  font-weight: 500;
  cursor: default;
}
.list-1 {
  height: 650px;
}
.list-2 {
  height: 650px;
}
.list-3 {
  height: 650px;
}
.list-4 {
  height: 650px;
}
.list-1-1 {
  width: 450px;
  display: flex;
  margin-bottom: 20px;
}
.list-1-2 {
  display: flex;
  width: 450px;
  margin-bottom: 20px;
}
.list-1-3 {
  display: flex;
  width: 450px;
  margin-bottom: 20px;
}
.list-1-1 li {
  list-style: none;
  width: 200px;
}
.list-1-2 li {
  list-style: none;
}
.list-1-3 li {
  list-style: none;
}
.list-footer {
  color: rgb(129, 129, 129);
  text-decoration: none;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  font-family: "LGEI Text", sans-serif;
  overflow-wrap: inherit;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  gap: 10px;
}
.list-2 {
  flex-grow: 1;

  margin-left: 20px;
  /* border-right: 1px solid #ccc6c6; */
}
.list-2 li {
  list-style: none;
}
.list-3 {
  flex-grow: 1;
  width: 300px;
  margin-left: 20px;
  /* border-right: 1px solid #ccc6c6; */
}
.list-3 li {
  list-style: none;
}
.list-4 {
  flex-grow: 1;
  margin-left: 20px;
}
.list-4 li {
  list-style: none;
}
.first-footer {
  flex-grow: 1;
}
/* last */
.padding-last {
  width: 30px;
}
/* back */
.back {
  width: 20px;
  height: 20px;
  position: relative;
  left: 80%;
  top: 90%;
}

.slider-control {
  height: 80vh;
}
.gol-center a {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}
.padding-last:hover {
  width: 30px;
  color: #000000;
  border-bottom: solid 1px #000000;
  transition: all 0.3 ease-in-out;
}
.padding-last1 {
  width: 300px;
}
.carousel-text {
  top: -5px;
  left: 20%;
}
.text-par {
  font-size: calc(1rem + 0.2vh);
  font-weight: 600;
  color: #000;
}
.text-head {
  font-size: calc(1rem + 0.2vh);
  font-weight: 400;
  color: #000;
}
.link-text {
  font-size: calc(0.8rem + 0.8vh);
  font-weight: 400;
  text-decoration: none;
  color: #006ce1;
  transition: all 0.3 ease-in 0s;
}
.link-text:hover {
  color: #889aad;
}
.card-text-1 {
  color: #26814c;
}
.section2-text {
  text-align: center;
  top: 40%;
}
.link-text-2 {
  margin-left: 40%;
}
.card-1 {
  top: 60%;
}
.card-2 {
  top: 50%;
}
.card-3 {
  top: 60%;
}
.card-img-overlay {
  /* top: 60%; */
  transition: all 0.3 ease-in-out 0s;
}

.card-img-overlay {
  transform: scale(1.1);
}
.card-6 {
  top: 60%;
}
.card-5 {
  top: 48%;
  font-size: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .text-par {
    font-size: calc(1rem + 2vh);
    font-weight: 600;
  }
  .text-head {
    font-size: calc(1rem + 2vh);
    font-weight: 400;
  }
  .link-text {
    font-size: calc(1rem + 0.5vh);
  }

  .carousel-text {
    top: 10%;
  }
  .card-title {
    font-size: calc(1rem + 2vh);
  }
  .section2-text {
    text-align: center;
    top: 60%;
  }
}

@media screen and (min-width: 992px) {
  .back {
    left: 90%;
    top: 85%;
  }
  /* استایل برای کل منو */
  .dropdown-menu-fullscreen {
    width: 98.95vw;
    padding: 25px;
    background-color: #f8f9fa;
    color: #000000;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }

  .menu-item:hover .dropdown-menu-fullscreen {
    display: flex;
  }

  .menu-columns {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    gap: 20px;
    width: 100%;
  }

  .menu-column {
    flex: 1;
  }

  .menu-column h6 {
    font-weight: bold;
    margin-bottom: 15px;
  }

  .menu-column a {
    color: #000000;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }

  .menu-column a:hover {
    color: #aaa;
  }

  /* مخفی کردن بخش‌های محتوای ستون دوم به صورت پیش‌فرض */
  .content-work,
  .content-creators,
  .content-students {
    display: none;
  }

  /* نمایش محتوای ستون دوم بر اساس هاور */
  .hover-work:hover ~ .menu-column .content-work,
  .hover-creators:hover ~ .menu-column .content-creators,
  .hover-students:hover ~ .menu-column .content-students {
    display: block;
    position: absolute;
  }

  /* نمایش ستون سوم به صورت ثابت */
  .fixed-products {
    display: block;
  }
  .sub-meno-supprot {
    font-size: 15px;
    margin-top: 13px;
    width: 150px;
    height: 180px;
    line-height: 25px;
    text-align: center;
  }
  .sub-meno-supprot li:hover {
    background-color: #f8f9fa;
  }
  .support-item:hover .sub-meno-supprot {
    display: block;
    transition: all 0.3 ease-in-out;
    border-bottom: solid 3px black;
  }
  .navbar li a {
    font-size: 15px;
  }
  .navbar li a i {
    font-size: 20px;
  }
  .sub-footer {
    height: 710px;
  }
  .first:hover .child {
    transform: all 0.3 ease 0s;
  }
  .list-firest-section {
    list-style: none;
    color: #000000;
  }
  .list-firest-section a {
    color: #b3b3b3;
    transition: all 0.4 ease-in-out 0ms;
  }
  .list-firest-section a:hover {
    color: #000;
    border-bottom: 1px solid #000;
  }
  .list-first-1 {
    width: 200px;
    height: 100px;
  }
  .btn-list:hover .list-first-1 {
    z-index: 1;
  }
  .parent {
    position: relative;
    width: 30px;
    height: 50px;
    overflow: hidden;
  }

  .parent img {
    position: absolute;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
  }

  .parent img:first-child {
    opacity: 1;
  }

  .parent img:last-child {
    opacity: 0;
  }

  .parent:hover img:first-child {
    opacity: 0;
  }

  .parent:hover img:last-child {
    opacity: 1;
  }
  .carousel-control-next {
    position: absolute;
    height: 98%;
    width: 10vh;
  }
  .carousel-control-prev {
    position: absolute;
    height: 98%;
    width: 10vh;
  }
  .carousel-text {
    top: 30%;
    left: -30%;
  }
  .text-head {
    font-size: calc(1rem + 2vh);
    font-weight: 600;
  }
  .text-par {
    font-size: calc(1rem + 1vh);
  }
  .link-text {
    font-size: calc(0.8rem + 0.5vh);
  }
  .section2-text {
    top: 35%;
    right: 40%;
  }
  .card-2 {
    top: 10%;
  }
  .card-3 {
    top: 60%;
  }
}
